.body {
	margin-top: 86px;
}

body {
	background-color: #E0EEE0;
}

.hidden {
	display: none;
}

/* partie pour la galerie de photo. */

div.img {
    border: 2px solid #ccc;
}

div.img:hover {
    border: 2px solid #777;
}

div.img:hover .description {
	display: block;
}

div.img img {
    width: 100%;
    height: auto;
}

div.description {
    padding: 15px;
    text-align: center;
	margin-bottom: 10px;
	overflow: auto;
}

div.description img {
	width: 30px;
	height: 35px;
}

* {
    box-sizing: border-box;
}

.responsive_gallery {
    padding: 0 6px;
	margin-bottom: 10px;
    float: left;
    width: 24.9999%;
}

@media only screen and (max-width: 700px){
    .responsive_gallery {
        width: 49.99999%;
        margin: 6px 0;
    }
	.body {
		margin-top: 150px;
	}
}

@media only screen and (max-width: 500px){
    .responsive_gallery {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Partie pour le formulaire commentaire */


.single_photo input[type=submit] {
    width: 60%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 15%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-size: 1.5em;
}

.single_photo input[type=submit]:hover {
    background-color: #45a049;
}

.single_photo input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 15%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*  PARTIE POUR LA PAGINATION */

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
	background-color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

div.center {text-align: center;}


.filtre_recherche {
	width: 96%;
	border: 1px solid black;
	border-radius: 10px;
	margin: 20px 2%;
	padding: 10px;
	background-color: #99FF99;
}

hr	{
	margin-bottom: 20px;
}
