.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 30px;
	background-color: green;
	text-align: right;
	padding-bottom: 10px;
	padding-right: 20px;
}

.body {
	margin-top: 86px;
}

table {
	border-collapse: collapse;
	width: 50%;
}

th, td {
	text-align: left;
	padding: 8px;
	border: 1px solid black;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #CCC;}

th {
	background-color: #4CAF50;
	color: white;
}
