.body {
	margin-top: 86px;
}

.montage {
    width: 100%;
}

.main {
    width: 56%;
    height: 1000px;
    border: 1px solid black;
    float: left;
    margin: 2%;
    margin-right: 0;
    padding: 5px 1%;
    border-radius: 10px;
    background-color: #99FF99;
    box-shadow: 0 0 2em black;
}

.pictures {
    width: 31%;
    height: 1000px;
    border: 1px solid black;
    float: right;
    margin: 2%;
    padding: 5px 1%;
    border-radius: 10px;
    background-color: #99FF99;
    box-shadow: 0 0 2em black;
	overflow-y: auto;
}

.filtres {
	height: 16%;
	padding: : 5% 0;
	margin: 20px;
	background-color: red;
	border-radius: 10px;
	box-shadow: 0 0 2em red;
}

#video, #canvas {
	margin: 2% 25%;
}

button {
	margin: 1% 45%;
}

.webcam {
	overflow-x: auto;
}

.hidden {
	display: none;
}

.test {
    border: 1px solid black;
    clear: both;
}
